$black: #333;
$white: #f6f6f6;
$gray: #888888;

$primary: #d46e6e;
$second: #484998;
$success: #1f604c;
$warring: #8bb41c;
$error: #dbca15;

$fontColor: $black; // color
$backgroundColor: $white;

$color: (
  primary: orange,
  secondary: green,
  third: brown,
  basic: #333,
  h1: #999,
);
